<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Vue 2.0 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js" defer></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>

    <!-- js -->
    <script src="./script.js" defer></script>

    <!-- css -->
    <link rel="stylesheet" href="../style.css" />

    <title>DISCHI VUE</title>
  </head>
  <body>
    
    <div id="app">
    
        <!-- <input
          type="text"
          name="genre"
          id="genre"
          v-model="inputSearch"
          placeholder="cerca per genere"
        />
        <button @click="invia">Filtra</button> -->

        <div class="container-cards">
          <div class="card" v-for="ris in dischi" :key="ris.id">
            <div class="album-pic-cont">
              <img :src="ris.poster"/>
            </div>
            <h3>{{ris.title}}</h3>
            <h5>{{ris.author}}</h5>
            <h5>{{ris.genre}}</h5>
            <span>{{ris.year}}</span>
          </div>
        </div>
    
    </div>

  </body>
</html>
